body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5; /* Color de fondo */
}

.container {
    background-color: #ffffff; /* Color del contenedor */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Sombra */
    max-width: 530px; /* Ancho máximo del contenedor */
    width: 100%; /* Para que ocupe todo el ancho disponible */
    box-sizing: border-box; /* Para que el padding no afecte el ancho */
}

h1 {
    text-align: center;
    color: #007bff; /* Color del título */
}

.form-group {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

/* Ajuste de espaciado entre el campo de pronombre y el campo de correo electrónico */
#pronombre {
    margin-bottom: 20px;
}


label {
    color: #007bff; /* Color de las etiquetas */
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #007bff; /* Color del borde de los campos de entrada */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Cambio de color al pasar el ratón */
}
